.logo img{
    width: 9vw;
    margin-bottom: 2%;
 
}
.logo{
    overflow: hidden;
    position: fixed; /* Make the navbar fixed at the top */
    top: 0; /* Position it at the top */
    width: 100%; /* Full width */
    z-index: 1000; /* Make sure it stays above other content */
}
.image{
margin-left: 10%;
}

.image img{
    width: 55vw;
    height: 70vh;
}
.field h1{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 19px;
font-weight: 500;

}
.field b{
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: rgb(79, 78, 78);
}

.lp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding-bottom: 10%;
}

.field{
    width: 50vw;
    border: 6px,black;
    gap: 0px;
    margin-bottom: 200px;
}

.email{
    width: 17vw;
    height: 8vh;
    padding-left: 15%;
    background-color: rgb(245, 245, 245);
    text-align: start;
    row-gap: 2%;
    border-radius: 10px;
    position: relative;
}
.email input{
    width: 15vw;
    height: 2vh;
    border: transparent;
    background-color: rgb(245, 245, 245);
    color: black;
}
.email p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: rgb(172, 172, 172);
}


.icon{
    position: absolute;
    top: 51%;
    right: 27%;
 color: rgb(172, 172, 172);
}
    


.icon1{
    position: absolute;
    top: 60%;
    right: 27%;
    color: rgb(172, 172, 172);
}



.email label{
    display: flex;
    align-items: start;
    justify-content: center;
    margin-right: 64%;
    color: rgb(172, 172, 172);
}

.select option{
    border: transparent;
}

.field span{
color: rgb(207, 203, 203);;
margin-top: 2%;
margin-left:45% ;
}

.field button{
   width: 29%;
   height: 6vh;
   border-radius: 20px;
   background-color: rgb(236, 33, 114);
   font-weight: 600;
   color: white;
   border: transparent;
    }

    .html{
       
    }

